@import url('style.css');

table{
    width: 90%;
    border-collapse: collapse;
    margin-left: 78px;
    margin-bottom: 40px;
    background-color:  rgb(255, 249, 224);
}

thead{
    background-color:rgb(128, 98, 28) ;
    padding: 15px;
    font-weight: bold;
}

td{
    text-align:center;
    padding: 15px;

}

tfoot td{
    background-color: rgb(128, 98, 28);
    color: rgb(243, 234, 202);
}

body{
    background: url('../img/fotofundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left right;
}

.principal{
    background: none;
}
