@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/henri-didot');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

header{
    /* background-color: rgb(245, 244, 240); */
    border-radius: 10px;
    /* margin: 15px;
    padding: 5px; */
    width: 70%;
    margin: auto;
}

h1{
    font-family: "Playfair Display", serif;
    font-size: 80px;
    color: #b08521;
    font-weight: 200;
    text-align: center;
    margin-top: 30px;
    text-shadow: 5px 5px 5px #635b4b;
}

.sub{
    color: rgb(255, 249, 224);
    text-align: center;
    font-family: "Playfair Display", serif;
    margin: 10px 0 20px;
    text-shadow: 5px 5px 5px #b08521;
}

.subtitulo-header{
    color: rgb(242, 242, 228);
    font-size: 20px;
    text-align: center;
}

.subtitulo{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    font-family: "Playfair Display", serif;
    
}

.principal-secoes p{
    padding: 10px;
}

img{
    width: 80px;
}

.cabecalho-menu{
    display: flex;
    align-items: center;
    justify-content:center;
    /* margin-top: 20px;
    padding: 20px 500px 20px; */
    margin: 25px;
    margin-bottom: 60px;
}


.menu{
    display: flex;
    gap: 10px;
}

.principal-secoes{
    background-color: rgb(255, 249, 224);
    width: 40%;
    margin: auto;
    /* margin: 20px;
    padding: 15px; */
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-shadow: 3px 4px 4px rgb(168, 159, 145);
    padding: 10px;
}

main{
    font-family: "Montserrat", sans-serif;
    background-color: #000;
    background: url('/img/fotofundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    margin-bottom: 10px;
}

.cabecalho-menu-img{
    width: 95px;
    height: auto;
}

.menu a{
    padding: 20px;
    text-decoration: none;
    color: #b89437;
    font-weight: bold;
}

.menu a:hover{
    background-color: rgb(214, 205, 171);
    color: rgb(109, 94, 30);
    border-radius: 20px;
}

input{
    margin: 6px;
}

.rodape{
    background-color: rgb(23, 23, 23);
    text-align: center;
    color: rgb(227, 227, 227);
    padding: 15px;
    flex-shrink: 0;
    bottom: 0;
}

.footer-link{
    color:  rgb(133, 127, 65) ;
    text-decoration: none;

}

.footer-link:hover{
    text-decoration: underline;
}
 
input[type="radio"], input[type="checkbox"]{
    accent-color: rgb(1, 1, 1);
}

input[type="text"]{
    width: 60%;
    padding: 8px;
    border: solid 2px rgb(139, 109, 58);
    border-radius: 7px;
    outline: none;
    background-color: transparent;
}